@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/*GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --title-font:'PT Serif', serif;
    --paragraph-font: 'Roboto', sans-serif;
    --title-form:'Quicksand', sans-serif;
    --letter-color: rgb(135,76,0);
    --bg-contenedor: rgb(230, 227, 222);
}

/*NAV*/

.bg-nav{
    background-color: rgba(253, 244, 234, .5);
}

.boton-menu{
    width: 30px;
    margin: 0;
}

nav img{
    width: 80px;
    margin-left: 20px;
}

    nav img:hover{
        filter:sepia(2);
        transform:scale(1.1);
        transition: transform .8s;
    }

#botonera ul li a{
    padding: 10px 20px;
    font-size: .9em;
    letter-spacing: 1px;
    font-family: 'Fira Sans', sans-serif; 
    color: black;
    font-weight:600;
}


.navbar .navbar-nav .nav-item{
    position: relative;
}

    .navbar .navbar-nav .nav-item::after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        content: '';
        background-color: var(--letter-color);
        width: 0;
        height: 3px;
        transition: all .5s;
    }

        .navbar .navbar-nav .nav-item:hover::after{
            width: 80%;
        }

        #botonera-efecto1,
        #botonera-efecto2,
        #botonera-efecto3,
        #botonera-efecto4,
        #botonera-efecto5,
        #dropdown-efecto1,
        #dropdown-efecto2 {
            display: flex;
            justify-content: center;
        }

            #botonera-efecto1:hover,
            #botonera-efecto2:hover,
            #botonera-efecto3:hover,
            #botonera-efecto4:hover,
            #botonera-efecto5:hover {
                color: var(--letter-color);
            }
        
            #dropdown-efecto1:hover,
            #dropdown-efecto2:hover{
                background-color: rgba(188, 141, 81, .4);
                transition: background-color .4s ease-in-out;
                transform:scaleX(.98);
            }
            

/*HEADER*/

header img{
    width: 100%;
    height: 100%;
}

/*CONTENIDO COMPARTIDO GENERAL*/

.container-btn{
    background-color: #2e6329;
    border: 0 solid #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    bottom: 80px;
    right: 25px;
    padding: 10px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

    .container-btn:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }

    .container-btn__wsp{
        width: 30px;
        transition: ease 1s;
    }

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0,0,0,0.85);
    }
    100%{
        box-shadow: 0 0 0 15px rgba(0,0,0,0);
    }
}

.parrafo{
    color: black;
    font-size: .9em;
    font-family: var(--paragraph-font);
    line-height: 1.6;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

/*CONTENIDO PAGINA INDEX*/

h1{
    color: black;
    font-family: var(--title-font);
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: var(--title-font);
    font-size: .95em;
    font-weight: bold;
    padding: 20px;
    color:var(--letter-color);
    text-decoration: underline;
    text-align: center;
}

.slider-galeria{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

    .slider-galeria img{
        width: 100%;
        border-radius: 2%;
    }

    .slider-galeria ul{
        padding: 0;
        display: flex;
        width: 400%;
        animation: cambio 30s infinite alternate ease-in-out;
    }

        .slider-galeria ul li{
            list-style: none;
            width: 100%;
        }

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.cont-1{
    margin: 20px 30px 40px 30px;
    padding: 0 8px;
    height: auto;
    background-color: rgb(207, 203, 198);
    border-radius: 2%;
    box-shadow: 3px 6px 8px black;
}

    #card-img img {
        width: 100%;
        height: 80%;
        padding: 16px 0;
        border-radius: 10%;
    }

    #card-img p{
        color:black;
        font-size: .9em;
        font-family: var(--title-font);
        font-weight: bold;
        padding-top: 5px;
        width: 100%;
        margin-top: 8px;
        text-align: center;
        cursor: default;
    }

        #card p:hover{
            background-color: rgba(188, 141, 81, .4);
            transform: scale(1.1);
            transition: transform 1s;
            transition: background-color .8s ease-in-out;
            border-radius: 10%;
        }

.cont-2{
    width: 95%;
    height: 100%;
    overflow: hidden;
    position:relative;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 4px 7px 10px black;
    cursor: default;
    transition: all 0.3s ease-in-out;
}
    .cont-2:hover{
        transform: scale(1.01);
    }

    .cont-2 img{
        width: 100%;
        height: 100%;
    }

    .cont-2__text{
        position: absolute;
        width: 100%;
        color: white;
        font-size: 1em;
        font-family: var(--title-font);
        font-weight: bolder;
        text-align: center;
        top: 35%;
        left: 35%;
        transform: translate(-35%,-35%);
        text-shadow: 0 0 8px rgba(0,0,0,0.85);
    }

/*CONTENIDO CONTACTO*/

h5{
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

.content{
    display: grid;
    grid-template-columns: 100%;
    background-color: #181818;
    color: white;
    font-family: var(--title-form);
    padding: 1.5em;
    margin: 20px 10px 40px 10px;
    box-shadow: 4px 7px 10px black;
}

    .logo{
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
        overflow: hidden;
    }

        .logo span{
            color: #960018;
            font-weight: bolder;
        }

    .contact{
        box-shadow: 0 0 20px 0 rgba(255,255,255,.3);
    }

        .contact > *{
            padding: .8em;
        }

    .contact-form{
        background-color: #222222; 
    }

    .contact-form form{
        grid-template-columns: 100%;
    }

        .contact-form form p{
            margin: 0;
            padding: .6em;
        }

            .contact-form form label,
            .contact-form button,
            input::placeholder,
            textarea::placeholder {
                font-size: .9em;
                color: rgba(255,255,255,.5);
            }

            .contact-form form button,
            .contact-form form input,
            .contact-form form textarea{
                width: 100%;
                padding: .3em;
                border: none;
                background: none;
                background-image: linear-gradient(to top,#222222,#333232,#444343,#555454);
                outline: 0;
                border-bottom: 2px solid #d63031;
                color: white;
                font-size: .8em;
            }

            .contact-form form button{
                color: black;
                background-image: linear-gradient(90deg, rgba(245,19,19,0.9806034482758621) 31%, rgba(237,47,67,0.9719827586206896) 52%);
                border: 0;
                text-transform: uppercase;
                font-weight: bolder;
                padding: .8em;
                letter-spacing: .3em;
            }

                .contact-form form button:hover,
                .contact-form form button:focus {
                    color:white;
                    background-image: linear-gradient(240deg, rgba(245,19,19,0.9806034482758621) 31%, rgba(237,47,67,0.9719827586206896) 52%);
                    outline: 0;
                }

            #mensaje{
                resize: none;
            }

    .contact-info{
        background-color: #000;
        width: 100%;
    }

        .contact-info h5,
        .contact-info ul {
            text-align: center;
            margin: 0 0 1rem 0;
        }

        .contact-info ul {
            list-style: none;
            padding: 0;
        }

            .contact-info ul li{
                padding: .3em;
                font-size: .7em;
            }

                .contact-info ul li i{
                    padding-right: 5px;
                }

        .contact-info div{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .iframe{
            position: relative;
        }

            .contact-info iframe{
                width: 97%;
                height: auto;
            }

/*SEDES*/

#sede-h1{
    font-size: 1.4em;
}

#sede-h2{
    font-family: var(--title-font);
    font-size: 1.1em;
    padding: .3em;
    text-decoration: underline;
    text-align: center;
    margin: 10px 5px;
    color:rgb(97, 55, 0);
}

.cont-sede-1,
.cont-sede-2,
.cont-sede-3,
.cont-sede-4 {
    border-top: 3px groove black;
}

.sede-1,
.sede-2,
.sede-3,
.sede-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

    .maps{
        width: 100%;
        height: 220px;
        padding: 1em;
        overflow: hidden;
    }

        .maps #iframe{
            width: 100%;
            height: 100%;
        }

    .list-datos ul{
        margin: 5px 10px 20px 10px;
        padding: 5px 0;
        overflow: hidden;
    }

        .list-datos ul li{
            list-style: none;
            font-size: .8em;
            padding: .3em;
            text-align: center;
            font-weight: 640;
            cursor:default;
        }

            .list-datos ul li:hover{
                transform:scale(1.1);
                transition: transform .8s;
                font-weight: 800;
            }

            .list-datos ul li i{
                padding-right: 5px;
            }

/*CONTENIDO TRATAMIENTOS*/

.cont-tto{
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    height: auto;
}

    .cont-tto h1{
        font-size: 1.16em;
        padding: 5px;
    }

    .cont-tto h2{
        text-align: center;
        font-size: 1.08em;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px;
    }

.contenedor-a{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
}
        
    .cont-a__texto{
        width: 100%;
        align-self: center;
        background-color: var(--bg-contenedor);
    }

        .cont-a__texto p{
            width: 100%;
            font-size: 1em;
            font-family:var(--paragraph-font);
            line-height: 1.6;
            margin: 0;
            text-align: center;
            padding: 10px 5px;
            border-radius: 2%;
        }
    
    .cont-a__img{
        display: flex;
        align-self: center;
        width: 100%;
    }
    
        .cont-a__img img{
            width: 16em;
            margin: 10px auto;
            padding-top: 15px;
            border-radius: 2%;
        }
    
.contenedor-b{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5px auto;
    padding: 10px;
}
        
    .cont-b__texto{
        width: 100%;
        align-self: center;
        background-color: var(--bg-contenedor);
    }
    
        .cont-b__texto p{
            width: 100%;
            font-size: 1em;
            font-family: var(--paragraph-font);
            line-height: 1.6;
            margin: 0;
            text-align: center;
            padding: 10px 5px;
            border-radius: 2%;
        }
    
    .cont-b__img{
        display: flex;
        align-self: center;
        width: 100%;
    }
    
        .cont-b__img img{
            width: 16em;
            margin: 30px auto;
            border-radius: 2%;
        }

.iframe-video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-self: center;
}

    .iframe-video iframe{
        width: 18em;
        height: 13em;
        margin: 10px auto;
    }
        
.beneficio-a{
    border: 2px dashed black;
    border-radius: 2%;
    text-align: center;
    margin: 30px auto;
    background-color: var(--bg-contenedor);
    width: 95%;
}
    .beneficio-a h2{
        text-align: center;
        font-size: 1.08em;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px;
    }

    .beneficio-a p{
        font-family:var(--paragraph-font);
        font-size: 1em;
        line-height: 1.6;
        padding: 0 10px 10px 10px;
    }
        
.img-a{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    height: auto;
    margin: 20px auto 40px auto;
}

    .img-a img{
        width: 90%;
    }

.img-b{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    height: auto;
    margin: 20px auto 40px auto;
}
    
    .img-b img{
        width: 90%;
    }
        
.text-1{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 40px auto 50px auto;
    width: 90%;
    background-color: var(--bg-contenedor);
    border-radius: 2%;
}
        
    .text-1 h2{
        text-align: center;
        font-size: 1.08em;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: auto;
        margin-left: auto;
        padding: 5px;
    }

    .text-1 p{ 
        font-family:var(--paragraph-font);
        font-size: 1em;
        line-height: 1.6;
        margin: 10px;
        padding: 10px 5px; 
    }
     
.cont-prp__img,
.cont-mtc__img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

    .cont-prp__img img,
    .cont-mtc__img img {
        width: 16em;
        height: 14em;
        margin: 20px auto 30px auto;
        border-radius: 2%;
    }


/*FOOTER*/

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(35, 32, 29);
}

    .footer__title{
        font-family: var(--title-font);
        font-size: 1em;
        color: white;
        margin: 5px auto;
        text-align: center;
    }

    .contenedor-footer{
        margin: 20px auto;
    }

        .contenedor-footer a{
            text-decoration: none;
        }

        .contenedor-footer img{
            width: 3.3rem;
            margin: 20px 10px auto;
        }

            .contenedor-footer img:hover{
                transform:scale(1.2);
                transition: transform .4s;
            }

    footer p{
        margin: 10px auto;
        font-size: 11px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-align: center;
    }

    
/*================>>MEDIA QUERIES "INDEX"<<================*/

@media (min-width: 280px) and (max-width: 320px) {

    .contenedor-1{
        margin: 20px 10px 40px 10px;
    }

        #card-img img{
            width: 95%;
        }

    .contact-info ul li{
        font-size: .65em;
    }

    .cont-2__text{
        font-size: .84em;
    }
}


@media screen and (min-width:480px) {
    .contact-form form{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

        .contact-form form .block{
            display:grid;
            grid-column: 1/3;
        }

    .contact-info iframe{
        width: 350px;
        height: auto;  
    }
    .parrafo{
        font-size: 1em;
        margin: 20px;
    }
}


@media screen and (min-width: 600px) {
    .cont-2__text{
        font-size: 1.6em;
    }

    #card p{
        font-size: 1.05em;
    }
}


@media screen and (min-width:700px) {
    .logo{
        margin-top: 20px;
        font-size:2em;
    }

    h5{
        font-size: 1.2em;
    }

    .content{
        padding: 0 2rem;
    }

        .contact{
            display:grid;
            grid-template-columns: 2fr 1.5fr;
        }

        .contact-info ul {
            margin-top: 30px;
        }

            .contact-info ul li{
                font-size: .9em;
            }

            .contact-form form label,
            .contact-form button,
            input::placeholder,
            textarea::placeholder {
                font-size: 1em;
            }

        .contact-info iframe{
            width: 100%;
            height: 200px;  
        }
}


/*================>>MEDIA QUERIES "GENERAL"<<================*/

@media (min-width: 280px) and (max-width: 320px) {
    .contenedor-footer img{
        width: 3rem;
    }

}


@media screen and (min-width: 660px) {
    #footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        background-color: rgb(35, 32, 29);
    }

        .contenedor-footer{
            margin: 20px 0 20px 40px;
        }

        footer p{
            text-align: end;
            margin: 10px 25px;
        }

    .container-btn__wsp{
        width: 50px;
    }

    h1{
        font-size: 1.8em;
    }

    h2{
        font-size: 1.32em;
    }

    .parrafo{
        font-size: 1.2em;
    }

    .container-btn__wsp{
        width: 60px;
    }
}


/*================>>MEDIA QUERIES "SEDES"<<================*/

@media screen and (min-width:640px) {
    .cont-sede-1,
    .cont-sede-2,
    .cont-sede-3,
    .cont-sede-4 {
        margin: 20px;
    }

        .sede-1,
        .sede-3 {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .sede-2,
        .sede-4 {
            flex-direction: row-reverse;
            justify-content: space-evenly;
            align-items: center;
        }

    .maps{
        width: 50%;
    }
        .maps #iframe{
            width: 100%
        }

    .list-datos{
        width: 50%;
    }
        .list-datos ul li{
            font-size: .9em;
            padding: .5em;
            text-align: center;
        }

    #sede-h1{
        font-size: 1.7em;
    }

    #sede-h2{
        font-size: 1.3em;
    }
}


@media screen and (min-width:800px) {
    .list-datos ul li{
        font-size: 1.1em;
        padding: .7em;
    }
}

/*================>>MEDIA QUERIES "TRATAMIENTOS"<<================*/

@media (min-width: 280px) and (max-width: 320px){
    .iframe-video iframe{
        width: 14em;
        height: 10em;
    }

    .cont-a__img,
    .cont-b__img {
        width: 95%;
    }

        .cont-a__img img,
        .cont-b__img img {
            width: 14em;
        }

    .beneficio-a{
        margin: 10px auto 30px auto;
    } 
    
    .img-a,
    .img-b {
        width: 95%;
    }

        .img-a img,
        .img-b img {
            width: 100%;
        }
}


@media screen and (min-width:480px) {
    .beneficio-a{
        margin: 15px auto 40px auto;
    }
    
    .cont-tto h1{
        font-size: 1.25em;
    }

    .cont-tto h2,
    .beneficio-a h2,
    .text-1 h2 {
        font-size: 1.13em;
    }

    .iframe-video iframe{
        width: 24em;
        height: 15em;
    }

    .img-a img{
        width: 80%;
    }

    .cont-prp__img,
    .cont-mtc__img {
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
    }
        
        .cont-prp__img img,
        .cont-mtc__img img {
            width: 18em;
            height: 16em;
            margin: 30px 10px;
        }

}


@media screen and (min-width:768px) {
    .iframe-video iframe{
        width: 26em;
        height: 18em;
    }

    .img-a img{
        width: 519px;
        height: 464px;
    }

    .img-b img{
        width: 519px;
        height: 380px;
    }

    .contenedor-a {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 10px 15px;
    }

    .contenedor-b {
        display: flex;
        flex-direction: row-reverse;
        width: 95%;
        margin: 10px;
    }

    .cont-a__img,
    .cont-b__img {
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 80%;
    }
    
        .cont-a__img img{
            width: 100%;
            margin: 10px 20px;
            padding: 10px;
        }

        .cont-b__img img{
            width: 100%;
            margin: 30px 25px 30px 15px;
            padding: 10px;
        }
        
    .cont-prp__img img,
    .cont-mtc__img img {
        width: 22em;
        height: 19em;
        margin: 30px 20px;
    }  
}


@media screen and (min-width:1000px) {
    .cont-tto h1{
        font-size: 1.5em;
    }

    .cont-tto h2,
    .beneficio-a h2,
    .text-1 h2 {
        font-size: 1.24em;
    }

    .contenedor-a {
        margin: 5px 30px 10px 30px;
    }

    .contenedor-b {
        margin: 10px 30px 15px 30px;
    }

    .cont-a__img,
    .cont-b__img {
        width: 70%;
    }

        #imagen-1,
        #imagen-2 {
            width: 450px;
            height: 380px;
        }

    .cont-prp__img img,
    .cont-mtc__img img {
        width: 26em;
        height: 21em;
                
    }  
        
    .parrafo,
    .cont-a__texto,
    .beneficio-a p,
    .cont-b__texto,
    .text-1 p {
        font-size: 1.1em;
    }

    .iframe-video{
        margin-bottom: 30px;
    }
    
        .iframe-video iframe{
            width: 32em;
            height: 18em;
        }
}