/*FOOTER*/

#footer{
    @include flex (column, center);
    width: $width;
    background-color: map-get($map: $bg-color, $key: 'bg-cinco');
    @include media (tablet-3){
        @include flex-simple (row, space-between, flex-end);
        width: $width;
        background-color: rgb(35, 32, 29);
    }
    .contenedor-footer{
        margin: 20px auto;
        @include media (tablet-3){
            margin: 20px 0 20px 40px;
        }
        .footer__title{
            @include text-2 ($title-h, $text-l,map-get($map: $text-color, $key:  'text-two'), $align-center, 5px auto, 0);
        }
        a{
            text-decoration: none;
        }
        img{
            width: 3.3rem;
            margin: 20px 10px auto;
            &:hover{
                @include animation (scale(1.2), transform .4s);
            }
            @include media (mobile-1){
                width: 3rem;
            }
        }
    }
    p{
        @include text-2 ($title-simple, $text-sm, map-get($map: $text-color, $key:  'text-two'), $align-center, 10px auto, 0);
        @include media (tablet-3){
            text-align: end;
            margin: 10px 25px;
        }
    }
}

    

    

       

    