





































/*================>>MEDIA QUERIES "TRATAMIENTOS"<<================*/







@media screen and (min-width:1000px) {
    

   

    


    

       
    
        
   

    .iframe-video{
        margin-bottom: 30px;
    }
    
        .iframe-video iframe{
            width: 32em;
            height: 18em;
        }
}