/*CONTENIDO TRATAMIENTOS*/

.cont-tto{
    margin: 10px auto;
    padding: 5px;
    width: $width;
    height: $h-auto;
    h1{
        font-size: ($text-l + .16);
        padding: 5px;
        @include media (mobile-2) {
            font-size: ($text-l + .25);
        }
        @include media (desktop) {
            font-size: $text-xl;
        }
    }
    h2{
        @include text (($text-l + .08), $align-center);
        margin: 0 auto 20px auto;
        padding: 5px;
        @include media (mobile-2) {
            font-size: ($text-l + .13);
        }
        @include media (desktop) {
            font-size: ($text-l + .24);
        }
    }
}

.contenedor-a{
    @include flex (column, center);
    width: $width;
    height: $h-auto;
    margin: 5px auto;
    padding: 10px;
    @include media (tablet-4) {
        @include flex (row, none);
        width: ($width - 5);
        margin: 10px 15px;
    }
    @include media (desktop) {
        margin: 5px 30px 10px 30px;
    }
    .cont-a__texto{
        width: $width;
        align-self: center;
        background-color: map-get($map: $bg-color , $key:'bg-uno');
        p{
            @include text-4 ($paragraph-font, $text-l, map-get($map: $text-color, $key: 'text-one'), $align-center, 1.6, 0, 10px 5px);
            width: $width;
            border-radius: map-get($map: $border-redondo, $key:'border-tres');
        }
        @include media (desktop) {
            font-size: ($text-l + .1);
        }
    }
    .cont-a__img{
        @include flex-simple2 (row, none, center);
        width: $width;
        img{
            width: $w-em;
            margin: 10px auto;
            padding-top: 15px;
            border-radius: map-get($map: $border-redondo, $key:'border-tres');
            @include media (mobile-1) {
                width: ($w-em - 2);
            }
            @include media (tablet-4) {
                width: $width;
                margin: 10px 20px;
                padding: 10px;
            }
        }
        @include media (mobile-1) {
            width: ($width - 5);
        }
        @include media (tablet-4) {
            @include flex-simple (row, center, center);
            margin: 10px;
            width:($width - 20);
        }
        @include media (desktop) {
            width:($width - 30);
        }
        
    }
}
         
.contenedor-b{
    @include flex (column, center);
    width: $width;
    height: $h-auto;
    margin: 5px auto;
    padding: 10px;
    @include media (tablet-4) {
        @include flex (row-reverse, none);
        width: ($width - 5);
        margin: 10px;
    }
    @include media (desktop) {
        margin: 10px 30px 15px 30px;
    }
    .cont-b__texto{
        width: $width;
        align-self: center;
        background-color: map-get($map: $bg-color , $key:'bg-uno');
        p{
            @include text-4 ($paragraph-font, $text-l, map-get($map: $text-color, $key: 'text-one'), $align-center, 1.6, 0, 10px 5px);
            width: $width;
            border-radius: map-get($map: $border-redondo, $key:'border-tres');
        }
        @include media (desktop) {
            font-size: ($text-l + .1);
        }
    }
    .cont-b__img{
        @include flex-simple2 (row, none, center);
        width: $width;
        img{
            width: $w-em;
            margin: 30px auto;
            border-radius: map-get($map: $border-redondo, $key:'border-tres');
            @include media (mobile-1) {
                width: ($w-em - 2);
            }
            @include media (tablet-4) {
                width: $width;
                margin: 30px 25px 30px 15px;
                padding: 10px;
            }
        }
        @include media (mobile-1) {
            width: ($width - 5);
        }
        @include media (tablet-4) {
            @include flex-simple (row, center, center);
            margin: 10px;
            width:($width - 20);
        }
        @include media (desktop) {
            width:($width - 30);
        }
    }
}       
 
#imagen-1,
#imagen-2 {
    @include media (desktop) {
        width: ($w-px + 350);
        height: ($h-px + 280);
    }
}

.iframe-video{
    @include flex-simple2 (row, none, center);
    width: $width;
    height: $height;
    margin: 0 auto;
    @include media (desktop) {
        margin-bottom: 30px;
    }
    iframe{
        width: ($w-em + 2);
        height: ($h-em - 3);
        margin: 10px auto;
        @include media (mobile-1) {
            width: ($w-em - 2);
            height: ($h-em - 6);
        }
        @include media (mobile-2) {
            width: ($w-em + 8);
            height: ($h-em - 1);
        }
        @include media (tablet-4) {
            width: ($w-em + 10);
            height: ($h-em + 2);
        }
        @include media (desktop) {
            width: ($w-em + 16);
        }
    }
}
    
.beneficio-a{
    border: 2px dashed black;
    border-radius: map-get($map: $border-redondo, $key:'border-tres');
    margin: 30px auto;
    background-color: map-get($map: $bg-color , $key:'bg-uno');
    width: ($width - 5);
    h2{
        @include text (($text-l + .08), $align-center);
        margin: 10px auto 20px auto;
        padding: 5px;
        @include media (mobile-2) {
            font-size: ($text-l + .13);
        }
        @include media (desktop) {
            font-size: ($text-l + .24);
        }
    }
    p{
        @include text-4 ($paragraph-font, $text-l, map-get($map:$text-color, $key: 'text-one'), $align-center, 1.6, 0, 0 10px 10px 10px);
        @include media (desktop) {
            font-size: ($text-l + .1);
        }
        
    }
    @include media (mobile-1) {
        margin: 10px auto 30px auto;
    }
    @include media (mobile-2) {
        margin: 15px auto 40px auto;
    }
}
    
        
.img-a{
    @include flex-simple2 (row, center, center);
    width: ($width - 10);
    height: $h-auto;
    margin: 20px auto 40px auto;
    img{
        width: ($width - 10);
        @include media (mobile-1) {
            width: $width;
        }
        @include media (tablet-4) {
            width: ($w-px + 419);
            height: ($h-px + 364);
        }
    }
    @include media (mobile-1) {
        width: ($width - 5);
    }
    @include media (mobile-2) {
        width: ($width - 20);
    }
}

.img-b{
    @extend .img-a;
    img {
        height: ($h-px + 120);
        @include media (mobile-2) {
            height:($h-px + 180);
        }
        @include media (tablet-4) {
            width: ($w-px + 419);
            height: ($h-px + 230);
        }
    }
}    
        
.text-1{
    @include flex (column, center);
    text-align: $align-center;
    margin: 40px auto 50px auto;
    width: ($width - 10);
    background-color:  map-get($map: $bg-color, $key: 'bg-uno');
    border-radius: map-get($map: $border-redondo, $key: 'border-tres');
    h2{
        font-size: ($text-l + .08);
        margin: 10px auto 5px auto;
        padding: 5px;
        @include media (mobile-2) {
            font-size: ($text-l + .13);
        }
        @include media (desktop) {
            font-size: ($text-l + .24);
        }
    }
    p{ 
        @include text-4 ($paragraph-font, $text-l, map-get($map:$text-color, $key: 'text-one'), $align-center, 1.6, 10px, 10px 5px);
        @include media (desktop) {
            font-size: ($text-l + .1);
        }
    }
}
     
.cont-prp__img{
    @include flex-simple2 (row, center, center);
    width: $width;
    height: $height;
    img {
        width: $w-em;
        height: ($h-em - 2);
        margin: 20px auto 30px auto;
        border-radius: map-get($map: $border-redondo, $key: 'border-tres');
        @include media (mobile-2) {
            width: ($w-em + 2);
            height: $h-em;
            margin: 30px 10px;
        }
        @include media (tablet-4) {
            width: ($w-em + 6);
            height: ($h-em + 3);
            margin: 30px 20px;
        }
        @include media (desktop) {
            width: ($w-em + 10);
            height: ($h-em + 5);
        }
    }
    @include media (mobile-2) {
        @include flex-simple (row, center, center);
        width: ($width - 20);
        height: $height;
    }
}

.cont-mtc__img {
    @include flex-simple2 (row, center, center);
    width: $width;
    height: $height;
    img {
        width: $w-em;
        height: ($h-em - 2);
        margin: 20px auto 30px auto;
        border-radius: map-get($map: $border-redondo, $key: 'border-tres');
        @include media (mobile-2) {
            width: ($w-em + 2);
            height: $h-em;
            margin: 30px 10px;
        }
        @include media (tablet-4) {
            height: ($h-em + 3);
            margin: 20px;
        }
        @include media (desktop) {
            width: ($w-em + 10);
            height: ($h-em + 5);
        }
    }
    @include media (mobile-2) {
        @include flex-simple (row, center, center);
        width: ($width - 20);
        height: $height;
    }
}

  